{% load static %}
<!DOCTYPE html>
<html>
  <title>Recipe App</title>

  <link rel="stylesheet" href="{% static 'users/css/list.css' %}" />

  <div class="users">
    <div class="header" width="50" color="green">
      <a href="/" class="header_logo">
        <img src="{% static 'recipes/images/icon.jpg' %}" alt="logo" />
        RECIPEBYTES</a
      >
      <nav>
        <a href="/recipes">
          <div class="header_option" href="">Recipes</div>
        </a>
        <a href="/ingredients">
          <div class="header_option" href="">Ingredients</div>
        </a>
        <a href="/users">
          <div class="header_option" href="">Users</div>
        </a>
        <a href="{% url 'logout' %}">
          <div class="header_option" href="">Logout</div>
        </a>
      </nav>
    </div>
    <h1 class="users_title">User List</h1>
    {% for object in object_list %}
    <a href="{{object.get_absolute_url}}">
      <div class="users_option">
        <div class="users_optionImage">
          <img src="{{object.pic.url}}" />
        </div>
        <div class="users_optionName">{{object.name}}</div>
      </div></a
    >

    {% endfor %}
  </div>
</html>
