@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

a,
a:hover,
a:visited {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.records {
  display: flex;
  flex-direction: column;
  width: 65%;
}
form > input {
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
form > select {
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

form > button {
  padding: 10px;
  border: solid 1px black;
  border-radius: 25px;
  margin: 10px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

form > select:hover,
button:hover {
  cursor: pointer;
}

.dataframe {
  border: 1px solid;
  border-collapse: collapse;
}

.dataframe {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.dataframe td,
.dataframe th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dataframe tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dataframe tr:hover {
  background-color: #ddd;
}

.dataframe th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

nav {
  display: flex;
  height: 100%;
}
.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  letter-spacing: 2px;
  height: 100%;
}

.header_option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 100%;
  width: fit-content;
  border-bottom: solid 3px transparent;
  padding: 0 10px;
}

.header_option:hover {
  cursor: pointer;
  border-bottom: solid 3px lightgray;
}
